{% if site.twitter_username %}
<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title | truncate: 70 }}{% else %}{{ site.title | truncate: 70 }}{% endif %}" />
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncate: 200 }}{% else %}{{ site.description | markdownify | strip_html | truncate: 200 }}{% endif %}" />
{% if page.image %}
<meta name="twitter:image" content="{{site.github.url }}{{ page.image }}" />
{% endif %}
{% endif %}
